{% extends 'layout.html.twig' %}

{% block title %}RWM Media{% endblock%}

{% block content %}

<article class="media">
    <header>
        <div class="date"><time datetime="{{ media.publicDate|date('c') }}">{{ media.publicDate|date('l, j F, Y') }}</time></div>
        <h2>{{ media.title }}</h2>
    </header>
    <div>
    {% for key,val in props %}
        <div>{{ key }}: {{ val }}</div>
    {% endfor %}
    </div>
    <div id="admin">
    <a href="{{ path('media/edit', {'id': media.id}) }}">[Edit]</a>
    </div>
</article>
    
{% endblock %}    
