{% extends 'layout.html.twig' %}

{% block title %}RWM Media{% endblock%}

{% block content %}

<article class="media">
    <header>
        <h2>{{ media.filename }}</h2>
        <div id="date">Modified: <time datetime="{{ val.modified|date('c') }}">{{ val.modified|date('l, j F, Y, H:i') }}</time></div>
	    <div id="admin">
	    <a href="{{ path('media/edit', {'id': media.id}) }}">[Edit]</a>
	    </div>
    </header>
    <div>
   	<h1>Main</h1>
    {% for key,val in props %}
        <div>{{ key }}: {{ val }}</div>
    {% endfor %}
    
   	<h1>Details</h1>
    {% for detail in details %}
    	<div style="margin-bottom:1em;">
	    {% for key,val in detail %}
    	    <div>{{ key }}: {{ val }}</div>
	    {% endfor %}
		</div>
    {% endfor %}
    
    </div>
    <div id="admin">
    <a href="{{ path('media/edit', {'id': media.id}) }}">[Edit]</a>
    </div>
</article>
    
{% endblock %}    
