{% extends 'layout.html.twig' %}

{% block title %}Upload{% endblock%}
{% block javascript %}
	{{ parent() }}
	<script src="{{ app.request.basepath }}/js/form.js"></script>
{% endblock %}

{% block content %}
   <form action="{{ post_url }}" method="POST" {{ form_enctype(form) }}>
       <fieldset>
        <legend>{{title}}</legend>
           {{ form_widget(form) }}
        <input type="submit" value="Submit">
       </fieldset>
    </form> 
{% endblock %}    
